body {
  overflow-x: hidden;
  margin-top: 76px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.header-logo {
  margin-left: 4vw;
}

.header-logo img {
  height: 50px;
  margin: 0;
}

.header-list-title {
  display: flex;
  justify-content: center;
  width: 60%;
}

.header-list-title li {
  margin: 0 32px;
}

li.nav-item:hover {
  opacity: 0.6;
}

.header-search {
  margin-right: 4vw;
}

.cart {
  font-size: 30px;
  position: relative;
}

.cart:hover ul.list-cart {
  display: block;
}

ul.list-cart {
  z-index: 5;
  right: -20px;
  width: 450px;
  position: absolute;
  top: 58px;
  padding: 0;
  background: #fff;
  box-shadow: 0 0 12px #f3ebeb;
  border-radius: 6px;
  display: none;
  max-height: 70vh;
  padding: 12px 0;
}

ul.list-cart::before {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: -28px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  cursor: pointer;
}

ul.list-cart::after {
  content: "";
  display: block;
  position: absolute;
  right: 9px;
  top: -28px;
  width: 80px;
  height: 32px;
  background-color: transparent;
}

li.item-cart {
  color: #333;
  display: flex;
  padding: 6px;
}

li.item-cart img {
  margin-bottom: 0;
}

li.item-cart:hover {
  background-color: rgb(239, 231, 231);
  border-radius: 6px;
}

li.item-cart img {
  width: 40px;
  height: 60px;
  object-fit: contain;
}

.item-cart-name {
  font-size: 16px;
  margin: 2px 12px;
  width: 320px;
}

.item-cart-description {
  display: flex;
}

.item-cart-description p {
  margin-bottom: 0;
}

i.fa-solid.fa-trash-can {
  margin: auto;
  cursor: pointer;
}

.item-cart-description p {
  margin-bottom: 0;
  margin-right: 8px;
  color: red;
}

i.fa-solid.fa-trash-can {
  font-size: 20px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0.header-list-title {
  margin-right: 0 !important;
}

.chi-tiet-cart {
  display: block;
  width: auto;
  margin: auto;
  margin-top: 12px;
}

.user img {
  margin-bottom: 0;
}

.user {
  margin-left: 48px;
  position: relative;
}

.user:hover ul.user-description {
  display: block;
}

.user img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

ul.user-description {
  width: 186px;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 4px 0 !important;
  background-color: white;
  border-radius: 6px;
  top: 55px;
  right: -16px;
  box-shadow: 0 0 10px #e3d5d5;
  display: none;
}

ul.user-description::before {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: -28px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  cursor: pointer;
}

ul.user-description::after {
  content: "";
  display: block;
  position: absolute;
  right: 6px;
  top: -21px;
  width: 68px;
  height: 29px;
  background-color: transparent;
}

ul.user-description li a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.user-description li {
  padding: 6px 8px;
  transition: all 0.3s ease 0;
}

ul.user-description li:hover {
  background-color: #c3c3c3;
  transition: all 0.3s ease 0;
  border-radius: 6px;
}

/* footer */
.row.footer {
  background-color: black;
  color: #fff;
  padding: 48px 8vw;
  padding-right: 0vw;
}

.footer-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.footer h5 {
  font-size: 18px;
  font-weight: 600;
  color: #ef9608;
}

.footer a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  opacity: 0.6;
}

.footer .form-control {
  width: 75%;
  margin-right: 4px;
  height: 38px;
}

.footer .row.lucky {
  margin: 4px 0;
}

.footer label.form-label {
  font-size: 20px;
  color: #bc7506;
}

.col-lg-3.col-12 {
  margin-bottom: 32px;
}

.col-lg-3.col-12.complain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.complain .footer-title {
  margin-bottom: 0px;
  margin-left: 6px;
  cursor: pointer;
}

i.fa-solid.fa-envelope {
  font-size: 24px;
}

.complain .footer-title:hover {
  opacity: 0.6;
}

.footer-user .row.user {
  border-bottom: 2px solid #fff;
  width: 93%;
  justify-content: space-between;
}

.footer .address {
  font-size: 18px;
  margin: 8px 0;
  font-style: italic;
  font-weight: 300;
}

.footer .address:first-child {
  margin-top: 24px;
}
